<ion-header >
  <ion-toolbar color="success">
    <ion-item lines="none" color="none">
      <ion-title>Ayuda</ion-title>
      <ion-icon name="power-outline" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
      <ion-buttons slot="start">
      </ion-buttons>
    </ion-item>
  </ion-toolbar>  
</ion-header>
<ion-content class="ion-text-center">
  <ion-card color="none">
    <div class="image">
      <img src="../assets/img/persona.png" alt="">
      <h4>Alejandro Pacheco Guadarrama</h4>
      <ion-icon name="logo-facebook"></ion-icon>
      Xlejxndro Xle
      <ion-icon name="logo-instagram"></ion-icon>
      @xle404
    </div>
  </ion-card>
  <ion-card color="none">
    <div class="image">
      <img src="../assets/img/persona.png" alt="">
      <h4>Jesus Rodriguez Salazar</h4>
      <ion-icon name="logo-facebook"></ion-icon>
      Jesus Rodriguez Salazar
      <ion-icon name="logo-instagram"></ion-icon>
      @untallgsus
    </div>
  </ion-card>
  <ion-card color="none">
    <div class="image">
      <img src="../assets/img/persona.png" alt="">
      <h4>Carlos J. Colorado Zurita</h4>
      <ion-icon name="logo-facebook"></ion-icon>
      Javier Zurita
      <ion-icon name="logo-instagram"></ion-icon>
      @solojavat
    </div>
  </ion-card>
</ion-content>
