<ion-header >
  <ion-toolbar color="success">
    <ion-item lines="none" color="none">
      <ion-title>Usuario</ion-title>
      <ion-icon name="power-outline" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
      <ion-buttons slot="start">
      </ion-buttons>
    </ion-item>
   
  </ion-toolbar>  
</ion-header>
<ion-content class="ion-text-center">
    <h5><b>Bienvenido Alejandro</b></h5>

    <!-- Presentacion de imagenes -->

  <ion-card color="none">
    <ion-slides pager="true">
      <ion-slide>
        <div class="codigo">
          <img src="../assets/img/noqr.jpg" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/persona.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/moto.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/placa.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo">
          <img src="../assets/img/siqr.jpeg" alt="">
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>



  <p><b>Nombre: Jesus Rodriguez Salazar</b></p>
  <p><b>Placas: PCC5958</b></p>
  <p><b>Vehículo: Automovil</b></p>
   <p>Marca: Vento</p>
  <p> Matricula: 201927106</p>
  <p>Correo Electronico: jesussalazar1564@icloud.com</p>
 



</ion-content>
