<ion-header >
  <ion-toolbar color="success">
    <ion-item lines="none" color="none">
      <ion-title>Usuario</ion-title>
      <ion-icon name="power-outline" [routerLink]="['/home']" routerLinkActive="router-link-active"></ion-icon>
      <ion-buttons slot="start">
      </ion-buttons>
    </ion-item>
   
  </ion-toolbar>  
</ion-header>
<ion-content class="ion-text-center">
    <h5><b>Bienvenido Alejandro</b></h5>

    <!-- Presentacion de imagenes -->

  <ion-card color="none">
    <ion-slides pager="true">
      <ion-slide>
        <div class="codigo">
          <img src="../assets/img/qr.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/persona.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/moto.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="codigo2">
          <img src="../assets/img/placa.png" alt="">
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>



  <p><b>Nombre: Alejandro Pacheco Guadarrama</b></p>
  <p><b>Placas: 5W4YY</b></p>
  <p><b>Vehículo: Motocicleta</b></p>
   <p>Marca: Vento</p>
  <p> Matricula: 201927602</p>
  <p>Correo Electronico: ing.alejandro99@gmail.com</p>
  <p>N° Tarjeta de circulación: <b>YTR0F01010202</b></p>

<ion-card *ngIf="caracteres">
  <label *ng="let caracter of caracteres">
    {{caracter.Nombre}}
  </label>
</ion-card>
  


</ion-content>
